<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="theme-color",content="#246A7B")
		meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
		title David Alejandro
		link(rel="stylesheet", href="estilos.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans")
	body  
		section.Wrapper
			section.Pagina.Pagina-Centrada.Pagina-Principal
				.Pagina-Liston 
				span.Pagina-Esquina.top-left
				span.Pagina-Esquina.top-right
				span.Pagina-Esquina.bottom-left
				span.Pagina-Esquina.bottom-right
				section.Pagina-ContPerfil
					p.Pagina-Nombre
						| David Velazquez
					figure.Pagina-Perfil
						img.Pagina-PerfilImg(src="img/perfil.jpg", alt="David Velazquez")

					p.Pagina-Especialidad
						| FrontEnd Developer
			section.WrapperPagina
				section.Pagina
					span.Pagina-Esquina.top-left
					span.Pagina-Esquina.top-right
					span.Pagina-Esquina.bottom-left
					span.Pagina-Esquina.bottom-right
					section.Pagina-Educacion
						p.Pagina-Titulo
							| Formación Académica
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|2008-2011
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									span.Pagina-EducacionTituloFirst C
									span.Pagina-EducacionTituloCont entro de  
									span.Pagina-EducacionTituloFirst e
									span.Pagina-EducacionTituloCont studios 
									span.Pagina-EducacionTituloFirst c
									span.Pagina-EducacionTituloCont ientificos 
									span.Pagina-EducacionTituloFirst y
									span.Pagina-EducacionTituloCont  
									span.Pagina-EducacionTituloFirst t
									span.Pagina-EducacionTituloCont ecnológicos 
									|12
									
								p.Pagina-EducacionDescripcion
									|Técnico en Informática
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|2011-2014
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									span.Pagina-EducacionTituloFirst U
									span.Pagina-EducacionTituloCont nidad 
									span.Pagina-EducacionTituloFirst P
									span.Pagina-EducacionTituloCont rofesional 
									span.Pagina-EducacionTituloFirst I
									span.Pagina-EducacionTituloCont nterdisciplinaria 
									span.Pagina-EducacionTituloCont de 
									span.Pagina-EducacionTituloFirst I
									span.Pagina-EducacionTituloCont ngeniería y 
									span.Pagina-EducacionTituloFirst C
									span.Pagina-EducacionTituloCont iencias 
									span.Pagina-EducacionTituloFirst S
									span.Pagina-EducacionTituloCont ociales  y 
									span.Pagina-EducacionTituloFirst A
									span.Pagina-EducacionTituloCont dministrativas

								p.Pagina-EducacionDescripcion
									|Ciencias de la Informática

					section.Pagina-Educacion
						p.Pagina-Titulo
							| Cursos
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|Bextlán
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									|jQuery
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|Bextlán
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									|Responsive Design
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|Platzi
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									|Curso de Javascript y jQuery
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|Platzi
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									|Curso Profesional de Front End
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|Platzi
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									|Curso de HTML5 Y CSS3
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|Platzi
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									|Diseño web con PostCSS, el futuro de CSS
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|Escuela IT
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									|AngularJs  y Javascript FullStack
						section.Pagina-EducacionHistorial
							article.Pagina-EducacionFecha
								|Escuela IT
							article.Pagina-EducacionEscuela
								p.Pagina-EducacionTitulo
									|Desarrollo con Angular 2 y JavaScript FullStack (En proceso)
				section.Pagina#AreaConocimiento
					span.Pagina-Esquina.top-left
					span.Pagina-Esquina.top-right
					span.Pagina-Esquina.bottom-left
					span.Pagina-Esquina.bottom-right
					div.Pagina-ConocimientoWrapper
						p.Pagina-Conocimiento
							|Areas de Conocimiento
						span.Pagina-ConocimientoListon.left
						span.Pagina-ConocimientoListon.right
					.Pagina-Linea.Active
					section.Pagina-ConocimientoItems
						.Pagina-ConocimientoItem.right
							.Pagina-TaskPadre.Active
								p.Pagina-TaskTitulo
									|Js
								ul.Pagina-ContSubTask.Hide
									li.Pagina-SubTask jQuery
									li.Pagina-SubTask jQuery UI
									li.Pagina-SubTask AngularJS
								span.Pagina-TaskMore +
							.Pagina-TaskPadre.Active
								p.Pagina-TaskTitulo
									|Css3
								ul.Pagina-ContSubTask.Hide
									li.Pagina-SubTask Stylus
									li.Pagina-SubTask Sass
									li.Pagina-SubTask Bootstrap
								span.Pagina-TaskMore +
							.Pagina-TaskPadre.Active
								p.Pagina-TaskTitulo
									|Automatizador de tareas
								ul.Pagina-ContSubTask.Hide
									li.Pagina-SubTask Gulp
								span.Pagina-TaskMore +
						.Pagina-ConocimientoItem.left
							.Pagina-TaskPadre.Active
								p.Pagina-TaskTitulo
									|Html5
								ul.Pagina-ContSubTask.Hide
									li.Pagina-SubTask Jade
									li.Pagina-SubTask Responsive Design
								span.Pagina-TaskMore +
							.Pagina-TaskPadre.Active
								p.Pagina-TaskTitulo
									|Gestores de dependencias
								ul.Pagina-ContSubTask.Hide
									li.Pagina-SubTask npm
									li.Pagina-SubTask Bower
								span.Pagina-TaskMore +
							.Pagina-TaskPadre.Active
								p.Pagina-TaskTitulo
									| Sistema de control de versiones
								ul.Pagina-ContSubTask.Hide
									li.Pagina-SubTask Git
								span.Pagina-TaskMore +
			
			
			section.WrapperPagina
				section.Pagina
					span.Pagina-Esquina.top-left
					span.Pagina-Esquina.top-right
					span.Pagina-Esquina.bottom-left
					span.Pagina-Esquina.bottom-right
					p.Pagina-TituloExperiencia 
						| Experiencia Laboral
					article.Pagina-ExperieciaItem
						p.Pagina-ExperieciaFecha
							| 2014/2015
						p.Pagina-ExperieciaEmpresa
							| Binasoft
						p.Pagina-ExperieciaDescripcion
							| Fui contratado con el puesto de programador web y desempeñaba la labor de maquetación usábamos las tecnologías HTML5, jQuery y CSS3 para eldesarrollo de las interfaces, realicé la versión de escritorio y móvil de la aplicación 
					article.Pagina-ExperieciaItem
						p.Pagina-ExperieciaFecha
							| 2016-2016
						p.Pagina-ExperieciaEmpresa
							| Globalcorporation
						p.Pagina-ExperieciaDescripcion
							| Contratación bajo el puesto de programador web,llevando mis funciones a área de front end he realizado desarrollo de interfaces con las tecnologías HTML5, CSS3 y Javascript. Apoyándome de stylus un preprocesador de css y bootstrap para la cuestión de estilo y Angularjs para la parte de programación de la interfaz 
					article.Pagina-ExperieciaItem
						p.Pagina-ExperieciaFecha
							| 2016-2016
						p.Pagina-ExperieciaEmpresa
							| Mimoni
						p.Pagina-ExperieciaDescripcion
							| Fuí contratado como FrontEnd, al principio corregía pequeñas fallas que tuvieran los sistemas que utilizaba la empresa, en el front utilicé un poco de react,
							| tambien participe en la primera fase de un sistema para la prevención del lavado de dinero, ahí utilizamos Apache Thrift el cual es un lenguaje de definición
							| de interfaces, este nos permitía comunicar varios lenguajes de programacion y debido a eso utilice un poco de node y phython en el back-end, ademas utilicé un poco de 
							| postgresql.

				section.Pagina
					span.Pagina-Esquina.top-left
					span.Pagina-Esquina.top-right
					span.Pagina-Esquina.bottom-left
					span.Pagina-Esquina.bottom-right
					p.Pagina-TituloExperiencia 
						| Proyectos
					article.Pagina-ExperieciaItem
						p.Pagina-ExperieciaFecha
							| Pokemon
						a(href="https://davidvelavi.github.io/pokemon" target="_blank") https://davidvelavi.github.io/pokemon

					article.Pagina-ExperieciaItem
						p.Pagina-ExperieciaFecha
							| buscaMusica 
						a(href="https://davidvelavi.github.io/buscaMusica" target="_blank") https://davidvelavi.github.io/buscaMusica

					article.Pagina-ExperieciaItem
						p.Pagina-ExperieciaFecha
							| heroes
						a(href="https://davidvelavi.github.io/heroes" target="_blank") https://davidvelavi.github.io/heroes

					article.Pagina-ExperieciaItem
						p.Pagina-ExperieciaFecha
							| kokoro
						a(href="https://davidvelavi.github.io/kokoro" target="_blank") https://davidvelavi.github.io/kokoro



						
		
		script(src="node_modules/jquery/dist/jquery.min.js")
		script(src="app.js")